<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Створити новго юзера</h4>
<hr>



<form th:action="@{/save}" method="post">
    <input type="" name="username" placeholder="username">
    <input type="" name="password" placeholder="password">
    <input type="email" name="email" placeholder="">
    <input type="submit" value="go!">
</form>


<div th:if="${error}" class="alert alert-danger">
    [[${error}]]
    
</div>
</body>
</html>